<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
<div class="container">

<div class=" w3-container w3-center text-center  w3-padding-top-32 w3-margin-bottom">
  <h3 style="color: black;" class="xxx-large text-grey publicTitle"><b> Funding </b></h3>
  <!-- <p style="color: black"> See our publications at the top magazines </p> -->
</div>
<!--here publications starts-->

<!--3 line of software/data-->
<div class="row">
    <a href="https://www.gov.il/en/departments/ministry_of_science_and_technology/govil-landing-page">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/funding_images/most.jpg"
                 alt="most"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"><b>Role: Sole PI</b></h6>
              <p class="card-text">
                Israel Ministry of Science and Technology (MOST)
              </p>
              <p class="card-text">
                <em> 2023 - 2025 (36 Months)</em>
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>



<!--2 line of software/data-->
<div class="row">
    <a href="https://datascience.tau.ac.il/">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/funding_images/tad.jpg"
                 alt="tad"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"><b>Role: PI</b></h6>
              <p class="card-text">
                The Center for AI & Data Science, Tel Aviv University, Israel
              </p>
              <p class="card-text">
                <em>  2023 - 2024 (24 Months)  </em>
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>
  



<!--1 line of software/data-->
<div class="row">
    <a href="https://cordis.europa.eu/project/id/836752">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/funding_images/msca.jpg"
                 alt="msca"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"><b>Role: Sole PI</b></h6>
              <p class="card-text">
                European Union's Horizon 2020 Research and Innovation Programme -                 Marie Sklodowska-Curie Global Fellowship 
              </p>
              <p class="card-text">
                <em>  2019 - 2023 (36 Months)</em>
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>
  <!---->
  
  
</div>



</body>
