<!DOCTYPE html>
<html lang="en">
<head>
  <title>W3.CSS Template</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}

  </style>
</head>
<body>

<div class="w3-center researchTitle">
  <h1>Research Overview</h1>
</div>
<div class="w3-float-left">
  <h5 class="w3-text-darkgray" style="padding-right: 10%; padding-left: 10%"><p align="justify">
    Alterations of in vivo molecular properties, such as intracellular pH and protein/metabolite concentrations, are known to underlie a  variety of neurological diseases, including stroke, traumatic brain injury, epilepsy, Alzheimer’s disease, and cancer. Importantly, pathology-related effects at the molecular level are manifested long before any anatomical or structural changes occur and may also reflect the host response to therapeutics. Therefore, <b> non-invasive imaging of molecular processes </b> is a pivotal tool for achieving early diagnosis and could play a crucial role in the optimization of therapeutic approaches.
  </p></h5>
  <h5 class="w3-text-darkgray" style="padding-right: 10%; padding-left: 10%"><p align="justify">
    <b>Our main goal</b> is the development of clinically relevant molecular MRI methods for early diagnosis and characterization of neurological diseases.
  </p></h5>
</div>

<div *ngIf="isDesktopView()" class="desktopView">

<div class="w3-main" style="padding-right: 90px; padding-left:  80px">
  <div class="w3-row w3-padding-64" style="padding-right: 0px; padding-left: 30px; padding-top: 250px ">
    <div class="w3-third w3-container">
      <img src="assets/projects_images/fig3_from_natbme.jpg">
    </div>
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Identifying molecular bio-markers for tissue characterization</h1>
      <p align="justify">
        We develop tools for disentangling the different signals coming from brain metabolites, proteins, and lipids, and evaluate their potential to serve as noninvasive image bio-markers for cell death, ischemia, and disease severity.     </p>
    </div>
  </div>

  <div class="w3-main" style="padding-right: 0px; padding-left: 30px">
    <div class="w3-third w3-container">
      <img src="assets/projects_images/fig1_nn_from_natbme.jpg">
    </div>
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Developing AI-based methods for accelerated and optimized molecular MRI </h1>
      <p align="justify"> We design and implement AI-based methods for early interventions along  the imaging pipeline, enabling automatic MRI acquisition protocol discovery and quantitative molecular parameters reconstruction. This allows for a drastic reduction in scan time and compatibility with a variety of biological scenarios.</p>
    </div>
  </div>

  <div class="w3-row w3-padding-256" style="padding-right: 0px; padding-left: 30px; padding-top: 250px ">
    <div class="w3-third w3-container">
      <img src="assets/projects_images/needle_brain.jpg">
    </div>
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Noninvasive image monitoring of treatment response</h1>
      <p align="justify">While conventional imaging provides anatomical information that reflects the treatment resopnse to therapy at a relatively late stage (e.g., in the form of tumor shrinkage), molecular MRI has the potential to inform the physician about the treatment response (or the lack of it) much earlier. This is crucial for optimizing novel therapeutic modalities, and for providing precision medicine. We investigate the suitability of particular brain metabolites to serve as early indicators of treatment response for a variety of pathologies.</p>
    </div>
  </div>

  <div class="w3-row w3-padding-64" style="padding-right: 0px; padding-left: 30px; padding-top: 250px ">
    <div class="w3-third w3-container">
      <img src="assets/projects_images/fig4_natbme.jpg">
    </div>
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Quantifying the neurochemical changes occurring in health & disease</h1>
      <p align="justify">We investigate the use of deep neural-networks and magnetic resonance fingerprinting (MRF) for rapid extraction of quantitative maps from chemical exchange saturation transfer (CEST) and semisolid magnetization transfer (MT) signals. Such quantitative parameters may improve the reproduciblity and robustness of  molecular MRI, and facilitate its clinical acceptance.</p>
    </div>
  </div>





</div>
</div>
<div *ngIf="!isDesktopView()" class="mobileView">
  <div class="row">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/projects_images/fig3_from_natbme.jpg"
                 alt="MRM"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title">Identifying molecular bio-markers for tissue characterization</h6>
              <p class="card-text">
                We develop tools for disentangling the different signals coming from brain metabolites, proteins, and lipids, and evaluate their potential to serve as noninvasive image bio-markers for cell death, ischemia, and disease severity.
              </p>
            </div>
          </div>

        </div>
      </div>
  </div>
  <br>
  <div class="row">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/projects_images/fig1_nn_from_natbme.jpg"
                 alt="nat-bme"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title">Developing AI-based methods for accelerated and optimized molecular MRI</h6>
              <p class="card-text">
                We design and implement AI-based methods for early interventions along  the imaging pipeline, enabling automatic MRI acquisition protocol discovery and quantitative molecular parameters reconstruction. This allows for a drastic reduction in scan time and compatibility with a variety of biological scenarios.
              </p>
            </div>
          </div>

        </div>
      </div>

  </div>
  <br>
  <div class="row">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 80%; width: 100%;"
                 src="assets/projects_images/needle_brain.jpg"
                 alt="mrm"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title">Noninvasive image monitoring of treatment response</h6>
              <p class="card-text">
                While conventional imaging provides anatomical information that reflects the treatment resopnse to therapy at a relatively late stage (e.g., in the form of tumor shrinkage), molecular MRI has the potential to inform the physician about the treatment response (or the lack of it) much earlier. This is crucial for optimizing novel therapeutic modalities, and for providing precision medicine. We investigate the suitability of particular brain metabolites to serve as early indicators of treatment response for a variety of pathologies.
              </p>
            </div>
          </div>

        </div>
      </div>

  </div>
  <br>
  <!--5rd line of publications-->
  <div class="row">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/projects_images/fig4_natbme.jpg"
                 alt="j_mat_sci"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title">Quantifying the neurochemical changes occurring in health & disease</h6>
              <p class="card-text">
                We investigate the use of deep neural-networks and magnetic resonance fingerprinting (MRF) for rapid extraction of quantitative maps from chemical exchange saturation transfer (CEST) and semisolid magnetization transfer (MT) signals. Such quantitative parameters may improve the reproduciblity and robustness of  molecular MRI, and facilitate its clinical acceptance.
              </p>
            </div>
          </div>
        </div>
      </div>

  </div>
  <br>
</div>
<footer class="w3-container w3-black w3-center w3-margin-top">
  <p style="font-size: small">Created by <a href="https://www.linkedin.com/in/bar-perlman/" target="_blank">Bar Perlman</a></p>
</footer>
</body>
</html>
