
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body style="background-color: #f2f9ff;">
<div id="bgimg" class="w3-container w3-stretch" style="background-color: black;">
<!--  top page image with lab logo -->
<img class="image_image" src="assets/images/lab_logo.jpg" style="position: center;  width: 100%; height: 100%;" alt="Avatar">
</div>
<div class="w3-stretch" >
  <div class="w3-container w3-center  w3-padding-top-20 w3-margin-bottom">
          <h2 class="w3-xlarge w3-text-black w3-padding-16"><b> Our lab explores the molecular mechanisms underlying brain disease and develops methods for early diagnosis and therapy optimization </b></h2>
     <!-- <p>These methods may shed new light on the molecular mechanisms underlying neurological disease, allow for early diagnosis and tissue characterization, and optimize therapeutic approaches. </p>  -->
          <div class="col-md-3" style="float:left">
            <div [routerLink]="['/research']" class="card mb-2">
              <img class="card-img-top" style="max-height: 220px; max-width: 1200px; height: 220px"
                   src="assets/projects_images/fig1_nn_from_natbme.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Developing AI-based methods for accelerated and optimized molecular MRI </h4>
               <!-- <p class="card-text">neural net small card's content.</p> -->

<!--                <a class="btn btn-primary">Read more</a>-->
              </div>
            </div>
          </div>
    <div class="col-md-3" style="float:left">
      <div [routerLink]="['/research']" class="card mb-2">
        <img class="card-img-top2" style="max-height: 220px; max-width: 1200px; height: 220px"
             src="assets/projects_images/fig3_from_natbme.jpg" alt="Card image cap2">
        <div class="card-body">
          <h4 class="card-title">Identifying molecular bio-markers for tissue characterization</h4>
          <!-- <p class="card-text">sdsd</p> -->
<!--          <a class="btn btn-primary">Read more</a>-->
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div [routerLink]="['/research']" class="card mb-2">
        <img class="card-img-top" style="max-height: 220px; max-width: 1200px; height: 220px"
             src="assets/projects_images/fig4_natbme.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Quantifying the neurochemical changes occurring in health & disease</h4>
          <!-- <p class="card-text">Human </p> -->
<!--          <a class="btn btn-primary">Read more</a>-->
        </div>
      </div>
    </div>
    <div class="col-md-3" style="float:left">
      <div [routerLink]="['/research']" class="card mb-2">
        <img class="card-img-top" style="max-height: 220px; max-width: 1200px; height: 220px"
             src="assets/projects_images/needle_brain.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Noninvasive image monitoring of treatment response</h4>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p> -->
<!--          <a class="btn btn-primary">Read more</a>-->
        </div>
      </div>
    </div>
  </div>

      <div class=" w3-stretch w3-padding-top-64 ">
        <section>
        <div class="w3-container w3-center">
        <a [routerLink]="['/careers']">
          <h5 class=" w3-padding-16"><i class="fa fa-briefcase w3-margin-right "></i> Join Our Team</h5>
        </a>
      </div>
        </section>
      </div>
    </div>
<footer class="w3-container w3-black w3-center w3-margin-top">
  <p>Created by <a href="https://www.linkedin.com/in/bar-perlman/" target="_blank">Bar Perlman</a></p>
</footer>
</body>

