<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
<div class="container">

<div class=" w3-container w3-center text-center  w3-padding-top-32 w3-margin-bottom">
  <h3 style="color: black;" class="xxx-large text-grey publicTitle"><b> Project Related Publications </b></h3>
  <!-- <p style="color: black"> See our publications at the top magazines </p> -->
</div>
<!--here publications starts-->

<!--20 line of publications-->
<div class="row">
    <a href="https://onlinelibrary.wiley.com/doi/10.1002/mrm.29574">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/publication_images/gan_st.jpg"
                 alt="gan-st"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title">Weigand-Whittier J, Sedykh M, Herz K, Coll-Font J, Foster AN, Gerstner ER, Nguyen C, Zaiss M, Farrar CT*, <b>Perlman O</b>* (*Equal contribution)</h6>
              <p class="card-text">
                Accelerated and Quantitative Three-Dimensional Molecular MRI using a Generative Adversarial Network
              </p>
              <p class="card-text">
                <em>Magnetic Resonance in Medicine</em> 2023;89:1901-1914.
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>



<!--19 line of publications-->
<div class="row">
    <a href="https://www.mdpi.com/1422-0067/24/4/3151">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/publication_images/immuno_review.jpg"
                 alt="gan-st"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title">Vladimirov N, <b>Perlman O</b></h6>
              <p class="card-text">
                Molecular MRI-Based Monitoring of Cancer Immunotherapy Treatment Response 
              </p>
              <p class="card-text">
                <em>International Journal of Molecular Sciences</em> 2023;24(4):3151-3175.
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>

  <!--16 line of publications-->
   <div class="row">
    <a href="https://doi.org/10.1002/mrm.29448">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/publication_images/ouri.jpg"
                 alt="MRM"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"> Cohen O, Yu VY, Tringale KR, Young RJ, <b>Perlman O</b>, Farrar CT, Otazo R</h6>
              <p class="card-text">
                CEST MR fingerprinting (CEST-MRF) for brain tumor quantification using EPI readout and deep learning reconstruction
              </p>
              <p class="card-text">
                <em>Magnetic Resonance in Medicine</em> 2023;89:233-249.
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>
  
  
<!--15 line of publications-->
<div class="row">
  <a href="https://doi.org/10.1002/nbm.4710">
  <div class="card mb-3">
    <div class="row" style="height: 100%; width: 100%">
      <div class="col-md-2">
        <img style="height: 100%; width: 100%;"
             src="assets/publication_images/review_2022.jpg"
             alt="NMR in Biomedicine"
             class="img-fluid rounded-start"
        />
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h6 style="color: black" class="card-title"><b>Perlman O</b>, Farrar CT, Heo HY</h6>
          <p class="card-text">
            MR fingerprinting for semisolid magnetization transfer and chemical exchange saturation transfer quantification
          </p>
          <p class="card-text">
            <em>NMR in Biomedicine</em> 2023;36(6):1-22.
          </p>
        </div>
      </div>

    </div>
  </div>
  </a>
</div>
<br>

  
<!--14 line of publications-->
<div class="row">
    <a href="https://rdcu.be/cBemp">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/publication_images/nat_bme.jpg"
                 alt="nat-bme"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"><b>Perlman O</b>, Ito H, Herz K, Shono N, Nakashima H, Zaiss M, Chiocca EA, Cohen O, Rosen MS, Farrar CT</h6>
              <p class="card-text">
                Quantitative imaging of apoptosis following oncolytic virotherapy by magnetic resonance fingerprinting aided by deep learning
              </p>
              <p class="card-text">
                <em>Nature Biomedical Engineering</em> 2022;6:648–657
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>

<!--13 line of publications-->
  <div class="row">
    <a href="https://doi.org/10.1002/mrm.29173">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/publication_images/autocest.jpg"
                 alt="MRM"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"><b>Perlman O*</b>, Zhu B*, Zaiss M, Rosen MS, Farrar CT (*Equal contribution)</h6>
              <p class="card-text">
                An end‐to‐end AI‐based framework for automated discovery of rapid CEST/MT MRI acquisition protocols and molecular parameter quantification (AutoCEST)
              </p>
              <p class="card-text">
                <em>Magnetic Resonance in Medicine</em> 2022;87:2792-2810. | <b>Highlighted by the journal - Editor's Pick List</b>
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>

 
  <!--12th line of publications-->
  <div class="row">
    <a href="https://doi.org/10.1002/mrm.28825">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 80%; width: 100%;"
                 src="assets/publication_images/pulseq.jpg"
                 alt="mrm"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"> Herz K, Mueller S,  <b>Perlman O</b>, Zaitsev M, Knutsson L, Sun PZ, Zhou J, van Zijl P, Heinecke K, Schuenke P, Farrar CT, Schmidt M, Dörfler A, Scheffler K, Zaiss M</h6>
              <p class="card-text">
                Pulseq-CEST: Towards multi-site multi-vendor compatibility and reproducibility of CEST experiments using an open-source sequence standard
              </p>
              <p class="card-text">
                <em>Magnetic Resonance in Medicine</em> 2021;86:1845–1858. | <b>Highlighted by the journal - Editor's Pick List</b> 
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>
  
  <!-- 10th line of publications-->
  <div class="row">
    <a href="https://www.nature.com/articles/s41598-020-77576-z">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/publication_images/lrp.jpg"
                 alt="sci_rep"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"><b>Perlman O</b>, Ito H, Gilad AA, McMahon MT, Chiocca EA, Nakashima H, Farrar CT</h6>
              <p class="card-text">
                Redesigned reporter gene for improved proton exchange-based molecular MRI contrast</p>
              <p class="card-text">
                <em>Scientific Reports</em> 2020;10(1):1-9.
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>

</div>

<footer class="w3-container w3-black w3-center w3-margin-top">
  <p style="font-size: small">Created by <a href="https://www.linkedin.com/in/bar-perlman/" target="_blank">Bar Perlman</a></p>
</footer>

</body>
