<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
<div class="container">

<div class=" w3-container w3-center text-center  w3-padding-top-32 w3-margin-bottom">
  <h3 style="color: black;" class="xxx-large text-grey publicTitle"><b> Publications </b></h3>
  <!-- <p style="color: black"> See our publications at the top magazines </p> -->
</div>
<!--here publications starts-->

<!--20 line of publications-->
<div class="row">
    <a href="https://onlinelibrary.wiley.com/doi/10.1002/mrm.29574">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/publication_images/gan_st.jpg"
                 alt="gan-st"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title">Weigand-Whittier J, Sedykh M, Herz K, Coll-Font J, Foster AN, Gerstner ER, Nguyen C, Zaiss M, Farrar CT*, <b>Perlman O</b>* (*Equal contribution)</h6>
              <p class="card-text">
                Accelerated and Quantitative Three-Dimensional Molecular MRI using a Generative Adversarial Network
              </p>
              <p class="card-text">
                <em>Magnetic Resonance in Medicine</em> 2023;89:1901-1914.
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>

<!--19 line of publications-->
<div class="row">
    <a href="https://www.mdpi.com/2306-5354/10/4/492">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/publication_images/fig_editorial.jpg"
                 alt="editorial"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title">Shimron E, <b>Perlman O</b></h6>
              <p class="card-text">
                AI in MRI: Computational Frameworks for a Faster, Optimized, and Automated Imaging Workflow 
              </p>
              <p class="card-text">
                <em>Bioengineering</em> 2023;10(4):492-500.
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>

<!--19 line of publications-->
<div class="row">
    <a href="https://www.mdpi.com/1422-0067/24/4/3151">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/publication_images/immuno_review.jpg"
                 alt="gan-st"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title">Vladimirov N, <b>Perlman O</b></h6>
              <p class="card-text">
                Molecular MRI-Based Monitoring of Cancer Immunotherapy Treatment Response 
              </p>
              <p class="card-text">
                <em>International Journal of Molecular Sciences</em> 2023;24(4):3151-3175.
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>


<!--18 line of publications-->
<div class="row">
    <a href="https://doi.org/10.1021/acssynbio.2c00648">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/publication_images/poet.jpg"
                 alt="poet"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title">Bricco A, Miralavy I, Bo S, <b>Perlman O</b>, Korenchan D, Farrar CT, McMahon M, Banzhaf W, Gilad A</h6>
              <p class="card-text">
                A Genetic Programming Approach to Engineering MRI Reporter Genes
              </p>
              <p class="card-text">
                <em>ACS Synthetic Biology</em> 2023;12(4):1154–1163.
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>
  

  
  <!--16 line of publications-->
   <div class="row">
    <a href="https://doi.org/10.1002/mrm.29448">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/publication_images/ouri.jpg"
                 alt="MRM"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"> Cohen O, Yu VY, Tringale KR, Young RJ, <b>Perlman O</b>, Farrar CT, Otazo R</h6>
              <p class="card-text">
                CEST MR fingerprinting (CEST-MRF) for brain tumor quantification using EPI readout and deep learning reconstruction
              </p>
              <p class="card-text">
                <em>Magnetic Resonance in Medicine</em> 2023;89:233-249.
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>
  
  
<!--15 line of publications-->
<div class="row">
  <a href="https://doi.org/10.1002/nbm.4710">
  <div class="card mb-3">
    <div class="row" style="height: 100%; width: 100%">
      <div class="col-md-2">
        <img style="height: 100%; width: 100%;"
             src="assets/publication_images/review_2022.jpg"
             alt="NMR in Biomedicine"
             class="img-fluid rounded-start"
        />
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h6 style="color: black" class="card-title"><b>Perlman O</b>, Farrar CT, Heo HY</h6>
          <p class="card-text">
            MR fingerprinting for semisolid magnetization transfer and chemical exchange saturation transfer quantification
          </p>
          <p class="card-text">
            <em>NMR in Biomedicine</em> 2023;36(6):1-22.
          </p>
        </div>
      </div>

    </div>
  </div>
  </a>
</div>
<br>

  
<!--14 line of publications-->
<div class="row">
    <a href="https://rdcu.be/cBemp">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/publication_images/nat_bme.jpg"
                 alt="nat-bme"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"><b>Perlman O</b>, Ito H, Herz K, Shono N, Nakashima H, Zaiss M, Chiocca EA, Cohen O, Rosen MS, Farrar CT</h6>
              <p class="card-text">
                Quantitative imaging of apoptosis following oncolytic virotherapy by magnetic resonance fingerprinting aided by deep learning
              </p>
              <p class="card-text">
                <em>Nature Biomedical Engineering</em> 2022;6:648–657
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>

<!--13 line of publications-->
  <div class="row">
    <a href="https://doi.org/10.1002/mrm.29173">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/publication_images/autocest.jpg"
                 alt="MRM"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"><b>Perlman O*</b>, Zhu B*, Zaiss M, Rosen MS, Farrar CT (*Equal contribution)</h6>
              <p class="card-text">
                An end‐to‐end AI‐based framework for automated discovery of rapid CEST/MT MRI acquisition protocols and molecular parameter quantification (AutoCEST)
              </p>
              <p class="card-text">
                <em>Magnetic Resonance in Medicine</em> 2022;87:2792-2810. | <b>Highlighted by the journal - Editor's Pick List</b>
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>

 
  <!--12th line of publications-->
  <div class="row">
    <a href="https://doi.org/10.1002/mrm.28825">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 80%; width: 100%;"
                 src="assets/publication_images/pulseq.jpg"
                 alt="mrm"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"> Herz K, Mueller S,  <b>Perlman O</b>, Zaitsev M, Knutsson L, Sun PZ, Zhou J, van Zijl P, Heinecke K, Schuenke P, Farrar CT, Schmidt M, Dörfler A, Scheffler K, Zaiss M</h6>
              <p class="card-text">
                Pulseq-CEST: Towards multi-site multi-vendor compatibility and reproducibility of CEST experiments using an open-source sequence standard
              </p>
              <p class="card-text">
                <em>Magnetic Resonance in Medicine</em> 2021;86:1845–1858. | <b>Highlighted by the journal - Editor's Pick List</b> 
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>
  <!--11 line of publications-->
  <div class="row">
    <a href="https://link.springer.com/article/10.1007/s10853-020-05296-w">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/publication_images/in_vitro.jpg"
                 alt="j_mat_sci"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"> Weitz IS, <b>Perlman O</b>, Azhari H, Sivan SS</h6>
              <p class="card-text">
                In vitro evaluation of copper release from MRI-visible, PLGA-based nanospheres
              </p>
              <p class="card-text">
                <em>Journal of Materials Science</em> 2021;56(1):718-30.
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>
  <!-- 10th line of publications-->
  <div class="row">
    <a href="https://www.nature.com/articles/s41598-020-77576-z">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/publication_images/lrp.jpg"
                 alt="sci_rep"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"><b>Perlman O</b>, Ito H, Gilad AA, McMahon MT, Chiocca EA, Nakashima H, Farrar CT</h6>
              <p class="card-text">
                Redesigned reporter gene for improved proton exchange-based molecular MRI contrast</p>
              <p class="card-text">
                <em>Scientific Reports</em> 2020;10(1):1-9.
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>

<!--  9-->
  <div class="row">
    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7190069/">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/publication_images/practical.jpg"
                 alt="mrm"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"><b>Perlman O</b>, Herz K, Zaiss M, Cohen O, Rosen MS, Farrar CT</h6>
              <p class="card-text">
                CEST MR‐Fingerprinting: Practical considerations and insights for acquisition schedule design and improved reconstruction</p>
              <p class="card-text">
                <em>Magnetic Resonance in Medicine</em> 2020;83(2):462-78.
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>
  <!--8nd line of publications-->
  <div class="row">
    <a href="https://doi.org/10.1021/acsanm.9b00791">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/publication_images/gold_copper.jpeg"
                 alt="acs"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"><b>Perlman O</b>, Borodetsky A, Kauffmann Y, Shamay Y, Azhari H, Weitz IS</h6>
              <p class="card-text">
                Gold/Copper@ Polydopamine nanocomposite for contrast-enhanced dual modal computed tomography–magnetic resonance imaging</p>
              <p class="card-text">
                <em>ACS Applied Nano Materials</em> 2019;2(10):6124-34.
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>
  <!--7 line of publications-->
  <div class="row">
    <a href="https://www.nature.com/articles/s41598-019-48959-8">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/publication_images/cu_inhibit.jpg"
                 alt="scir_rep"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"> Benguigui M, Weitz IS, Timaner M, Kan T, Shechter D, <b>Perlman O</b>, Sivan S, Raviv Z, Azhari H, Shaked Y</h6>
              <p class="card-text">
                Copper oxide nanoparticles inhibit pancreatic tumor growth primarily by targeting tumor initiating cells</p>
              <p class="card-text">
                <em>Scientific Reports</em> 2019;9(1) doi:10.1038/s41598-019-48959-8.
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>
<!---->
  <!--6 line of publications-->
  <div class="row">
    <a href="https://doi.org/10.1080/02656736.2017.1378386">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 70%; width: 100%;"
                 src="assets/publication_images/netus.jpeg"
                 alt="int_j_hyperther"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"> <b>Perlman O</b>, Weitz IS, Azhari H</h6>
              <p class="card-text">
                Target visualisation and microwave hyperthermia monitoring using nanoparticle-enhanced transmission ultrasound (NETUS)</p>
              <p class="card-text">
                <em>International Journal of Hyperthermia</em> 2018;34(6):773-85.
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>
  <!---->
  <!--5th line of publications-->
  <div class="row">
    <a href="https://doi.org/10.1088/1361-6528/aab00c">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/publication_images/plga.jpg"
                 alt="int_j_hyperther"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"> <b>Perlman O</b>, Weitz IS, Sivan SS, Abu-Khalla H, Benguigui M, Shaked Y, Azhari H</h6>
              <p class="card-text">
                Copper oxide loaded PLGA nanospheres: towards a multifunctional nanoscale platform for ultrasound-based imaging and therapy</p>
              <p class="card-text">
                <em>Nanotechnology</em> 2018;29(18):185102.
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>
  <!---->
  <!--4th line of publications-->
  <div class="row">
    <a href="https://iopscience.iop.org/article/10.1088/1361-6560/aa51ab/meta">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/publication_images/io_us.jpg"
                 alt="phys_med_biol"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"> <b>Perlman O</b>, Azhari H</h6>
              <p class="card-text">
                Ultrasonic computed tomography imaging of iron oxide nanoparticles</p>
              <p class="card-text">
                <em>Physics in Medicine and Biology</em> 2017;62(3):825.
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>
  <!---->
  <!--3rd line of publications-->
  <div class="row">
    <a href="https://ieeexplore.ieee.org/document/7274639">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/publication_images/svt.jpg"
                 alt="jbhi"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"> <b>Perlman O</b>, Katz A, Amit G, Zigel Y</h6>
              <p class="card-text">
                Supraventricular tachycardia classification in the 12-lead ECG using atrial waves detection and a clinically based tree scheme</p>
              <p class="card-text">
                <em>IEEE Journal of Biomedical and Health Informatics</em> 2015;20(6):1513-20.
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>
  <!---->
  <!--2nd line of publications-->
  <div class="row">
    <a href="https://doi.org/10.1088/0031-9155/60/15/5767">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/publication_images/dual_modal.jpg"
                 alt="dual-modal"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"> <b>Perlman O</b>, Weitz IS, Azhari H</h6>
              <p class="card-text">
                Copper oxide nanoparticles as contrast agents for MRI and ultrasound dual-modality imaging</p>
              <p class="card-text">
                <em>Physics in Medicine and Biology</em> 2015;60(15):5767.
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>
  <!---->
  <!--1st line of publications-->
  <div class="row">
    <a href="https://ieeexplore.ieee.org/document/6675778">
      <div class="card mb-3">
        <div class="row" style="height: 100%; width: 100%">
          <div class="col-md-2">
            <img style="height: 100%; width: 100%;"
                 src="assets/publication_images/aea.gif"
                 alt="tbme"
                 class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h6 style="color: black" class="card-title"> <b>Perlman O</b>, Katz A, Weissman N, Amit G, Zigel Y</h6>
              <p class="card-text">
                Atrial electrical activity detection using linear combination of 12-lead ECG signals</p>
              <p class="card-text">
                <em> IEEE Transactions on Biomedical Engineering</em>  2013;61(4):1034-43.
              </p>
            </div>
          </div>

        </div>
      </div>
    </a>
  </div>
  <br>
  <!---->
</div>

<footer class="w3-container w3-black w3-center w3-margin-top">
  <p style="font-size: small">Created by <a href="https://www.linkedin.com/in/bar-perlman/" target="_blank">Bar Perlman</a></p>
</footer>

</body>
